<h1>Bienvenido @User.Identity.Name</h1>


@section Styles
{
    <link rel="stylesheet"
          href="~/css/dashboard.css" />
}

<div class="menu-container">

    @if (User.IsInRole("Administrador"))
    {
        <a asp-controller="Usuario"
           asp-action="Crear"
           class="menu-card">

            Crear Usuario

        </a>

        <a asp-controller="Usuario"
           asp-action="ObtenerUsuarios"
           class="menu-card">

            Consultar Usuarios

        </a>
    }

</div>