@model FacturacionBarberia.Aplication.DTO.UsuarioRequest
@using FacturacionBarberia.Domain.Models.Enum

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card card-barberia">

            <div class="card-header text-center">

                <h3 class="titulo-barberia">
                    Crear Usuario
                </h3>

            </div>

            <div class="card-body">

                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Success"]
                    </div>
                }

                <div asp-validation-summary="All"
                     class="alert alert-danger">
                </div>

                <form asp-action="Crear"
                      method="post">

                    <div class="mb-3">
                        <label asp-for="Nombre"></label>
                        <input asp-for="Nombre"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password"
                               type="password"
                               class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Rol"></label>
                        <select asp-for="Rol"
                                class="form-select"
                                asp-items="Html.GetEnumSelectList<RolEnum>()">
                        </select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Estado"></label>
                        <select asp-for="Estado"
                                class="form-select"
                                asp-items="Html.GetEnumSelectList<EstadoEnum>()">
                        </select>
                    </div>

                    <button type="submit"
                            class="btn btn-primary btn-barberia">
                        Guardar Usuario
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>